body {
    font-size: 2rem;
    font-family: sans-serif;
}

.mainDiv {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainDiv div {
    margin-bottom: 20px;
}

.winMsg {
    text-align: center;
    font-weight: 700;
    font-size: 2.5rem;
}

.btns {
    text-align: center;
}

.btn {
    font-size: 2rem;
    width: 150px;
    font-weight: 600;
    background-color: blueviolet;
    color: white;
    border-radius: 10px;
    outline: none;
    transition: background-color 0.3s ease-in-out, transform 0.1s ease-in-out;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: violet;
}

.btn:active {
    transform: scale(0.95);
}

@media (max-width: 1020px) {

    body {
        font-size: 1.5rem;
    }

    .selected {
        font-size: 1rem;
    }

    .btn {
        font-size: 1.5rem;
    }
}